{% load layout_helpers %}

{% if object.articles.all %}
<section class="homepage-box {{ object.slug }}">
    <h1 class="{{ object.slug }} block-title">{{ object.name }}</h1>
    {% render_iter articles.all %}
        <ul>
            <li>{% render_next 'large' %}</li>
            {% render_remainder 'li' %}
        </ul>
    {% endrender_iter %}
</section>
{% endif %}