{% extends 'base.html' %}

{% block content %}
<article class="article-detail contact-us bodycopy">
    <header>
        <h1>Contact</h1>
    </header>

    <p><strong>Have a story you think London students should know about? Contact our news team at <a href="news@theanglenews.co.uk">news@theanglenews.co.uk</a></strong></p>

    <p>Want to write, take pictures, or just generally lend a hand? If you're a student at a London university we want to hear from you, whether you have experience or not. Get in touch with one of our editors:</p>

    <ul>
	<li><h3>Editor-in-Chief</h3>
	<p><a href="mailto:editor@theanglenews.co.uk">editor@theanglenews.co.uk</a></p></li>
        <li><h3>News</h3>
            <p><a href="mailto:news@theanglenews.co.uk">news@theanglenews.co.uk</a></p>
        </li>

        <li><h3>Comment</h3>
            <p><a href="mailto:comment@theanglenews.co.uk">comment@theanglenews.co.uk</a></p>
        </li>

        <li><h3>Features</h3>
            <p><a href="mailto:features@theanglenews.co.uk">features@theanglenews.co.uk</a></p>
        </li>

        <li><h3>Culture</h3>
            <p><a href="mailto:culture@theanglenews.co.uk">culture@theanglenews.co.uk</a></p>
        </li>

        <li><h3>Fashion</h3>
            <p><a href="mailto:fashion@theanglenews.co.uk">fashion@theanglenews.co.uk</a></p>
        </li>

        <li><h3>Sport</h3>
            <p><a href="mailto:sport@theanglenews.co.uk">sport@theanglenews.co.uk</a></p>
        </li>

        <li><h3>Photography</h3>
            <p><a href="mailto:picture@theanglenews.co.uk">picture@theanglenews.co.uk</a></p>
        </li>
    </ul>
</article>

{% endblock content %}
