{% extends 'base.html' %}
{% block content %}
<h1>You must log in</h1>
    {% if form.errors %}
    Incorrect username and password
    {% endif %}

    <form method="post" action="">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit"/>
    </form>
{% endblock %}