<!DOCTYPE html>
<html>
<head>
    <title>Facebook Client-side Authentication Example</title>
</head>
<body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<div id="fb-root"></div>
Facebook id: {{ facebook_app_id }}
<script>
    // Load the SDK Asynchronously
    (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));

    // Init the SDK upon load
    window.fbAsyncInit = function() {
        FB.init({
                    appId      : '{{ facebook_app_id }}', // App ID
                    channelUrl : '//'+window.location.hostname+'/channel', // Path to your Channel File
                    status     : true, // check login status
                    cookie     : true, // enable cookies to allow the server to access the session
                    xfbml      : true  // parse XFBML
                });

        // listen for and handle auth.statusChange events
        FB.Event.subscribe('auth.statusChange', function(response) {
            if (response.authResponse) {
                // user has auth'd your app and is logged into Facebook
                FB.api('/me?fields=name,picture', function(me){
                    if (me.name) {
                        $('#auth-displayname').text(me.name)
                                .append($('<img />').attr('src', me.picture.data.url)
                                .attr('id', 'userpicture')
                        );
                    }
                });
                $('#auth-loggedout').hide();
                $('#auth-loggedin').show();
            } else {
                // user has not auth'd your app, or is not logged into Facebook
                $('#auth-loggedout').show();
                $('#auth-loggedin').hide();
            }
        });

        // respond to clicks on the login and logout links
        $('#auth-loginlink').click(function(){
            FB.login();
        });
        $('#auth-logoutlink').click(function(){
            FB.logout();
        });
    }
</script>

<h1>Facebook Client-side Authentication Example</h1>
<div id="auth-status">
    <div id="auth-loggedout">
        <a href="#" id="auth-loginlink">Login</a>
    </div>
    <div id="auth-loggedin" style="display:none">
        Hi, <span id="auth-displayname"></span>
        (<a href="#" id="auth-logoutlink">logout</a>)
    </div>
</div>

</body>
</html>