table.palegrey {
    border-collapse: collapse;
    border-color: #CCC;
    border: 1px solid #DDD;
}

table.palegrey,
table.palegrey +  ul.pagination {
    font: normal 11px/14px 'Lucida Grande', Helvetica, Verdana, Arial, sans-serif;
}

table.palegrey a:link,
table.palegrey a:visited,
table.palegrey + ul.pagination > li > a {
    color: #808080;
    text-decoration: none;
    font-weight: bold;
}

table.palegrey a:hover {
    color: #555;
}

table.palegrey td,
table.palegrey th {
    padding: 5px;
    line-height: 13px;
    border-bottom: 1px solid #EEE;
    border-left: 1px solid #DDD;
    text-align: left;
}

table.palegrey thead th:first-child,
table.palegrey thead td:first-child {
    border-left: none !important;
}

table.palegrey thead th,
table.palegrey thead td {
    background: #FCFCFC url(../images/tables/header-bg.png) left bottom repeat-x;
    border-bottom: 1px solid #DDD;
    padding: 2px 5px;
    font-size: 11px;
    vertical-align: middle;
    color: #666;
}

table.palegrey thead th > a:link,
table.palegrey thead th > a:visited {
    color: #666;
}

table.palegrey thead th.orderable > a {
    padding-right: 20px;
    background: url(../images/tables/arrow-inactive-up.png) right center no-repeat;
}
table.palegrey thead th.orderable.asc > a {
    background-image: url(../images/tables/arrow-active-up.png);
}
table.palegrey thead th.orderable.desc > a {
    background-image: url(../images/tables/arrow-active-down.png);
}

table.palegrey tr.odd {
    background-color: #ededed;
}

table.palegrey tr.even {
    background-color: white;
}

table.palegrey + ul.pagination {
    background: white url(../images/tables/pagination-bg.gif) left 180% repeat-x;
    overflow: auto;
    margin: 0;
    padding: 10px;
    border: 1px solid #DDD;
    list-style: none;
}

table.palegrey + ul.pagination > li {
    float: left;
    line-height: 22px;
    margin-left: 10px;
}

table.palegrey + ul.pagination > li:first-child {
    margin-left: 0;
}

div.table-container {
    display: inline-block;
}