{% extends 'articles/article_detail.html' %}
{% load article_tags %}

{% block content %}
    <style type="text/css">
        .article-detail.fashion .bodycopy {width: 100%}
    </style>
<article class="article-detail fashion">
    <header>
        <h1>{{ article.title|safe }}</h1>
        {% include 'articles/partials/main_image.html' %}
        {% include 'articles/partials/meta.html' %}
    </header>
    <div class="cf">
        <div class="bodycopy">
            {% include 'articles/partials/social.html' %}

            {% render_metadata article.metadata %}
            <p>{{ article.body|body_filter|safe }}</p>
        </div>

    </div>

    {% if article.comments_enabled and article.is_published %}
        {% include 'common/comments.html' %}
    {% endif %}


</article>

{% include 'articles/partials/sidebar.html' %}
{% endblock %}