{% load static thumbnail %}

<article class="article-comment-leader">
    <header>
        <p class="author">{{ object.author_display }}</p>
        <h1><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h1>
        {% if object.author.count == 1 %}
            {% with object.author.all|first as author %}
                {% thumbnail author.image "100x100" as im %}
                    <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}" class="headshot"/>
                {% endthumbnail %}
            {% endwith %}
        {% endif %}
    </header>
    <div class="teaser">
        <a href="{{ object.get_absolute_url }}">{{ object.deck }}</a>
    </div>
    <footer>
        <p class="meta">
            Published on <time pubdate>{{ object.pub_date }}</time> <img src="{% get_static_prefix %}images/comment_icon.gif" alt="Comments:" />
            <a href="{{ object.get_absolute_url }}#disqus_thread" data-disques-identifier="article-{{ object.id }}">0 Comments</a>

        </p>
    </footer>
</article>