<article class="default">
    <header>
    <h1><a href="{{ object.get_absolute_url }}">{{ object.title|safe }}</a></h1>
    <p class="meta">Published on {{ object.pub_date }}</p>
    </header>
    <p>{{ object.get_teaser|striptags|truncatewords_html:20 }}</p>
</article>