{% load thumbnail %}
{% with object.get_display_image as main_image %}
    {% thumbnail main_image.image.file "800x600" crop="center" as im %}
        <li>
            <a href="{{ object.get_absolute_url }}">
                <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}" />
                <div class="flex-caption">
                    <h2>{{ object.title|striptags }}</h2>
                    <p>{{ object.get_teaser|safe|truncatewords_html:30 }}</p>
                </div>
            </a>
        </li>
    {% endthumbnail %}
{% endwith %}