{% load thumbnail static layout_helpers article_tags %}
<article class="node article-half{% block omega %}{% endblock %}">
    {% with object.get_main_image as main_image %}
        {% thumbnail main_image.image.file "360x227" crop="center" as im %}
            <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}" class="article-image" />
        {% endthumbnail %}{% endwith %}
    <header>
        <h1><a href="{{ object.get_absolute_url }}">{{ object.title|safe }}</a></h1>
        <p class="meta">Published on {{ object.pub_date }}
        <span class="comment-count">
        <img src="{% get_static_prefix %}images/comment_icon.gif" alt="Comments:" />
        <a href="{{ object.get_absolute_url }}#disqus_thread" data-disqus-identifier="article-{{ object.id }}">0 Comments</a></span></p>
    </header>
    <p class="teaser">
        {% if object.metadata %}
            {% render_metadata object.metadata 'teaser' %}
        {% endif %}
        {{ object.get_teaser|striptags|truncatewords_html:20|safe }}</p>
</article>