{% load thumbnail static article_tags %}
<article class="node headline cf">
    {% if object.get_main_image %}
    <figure>
        {% with object.get_main_image as main_image %}
        {% thumbnail main_image.image.file "500x308" crop="center" as im %}
        <a href="{{object.get_absolute_url}}"><img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}" class="article-image"/></a>
        {% endthumbnail %}
        {% endwith %}
    </figure>
    {% endif %}
    <h1><a href="{{ object.get_absolute_url }}">{{ object.title|safe }}</a></h1>
    <p class="meta">Published on {{ object.pub_date }}
        <span class="comment-count">
        <img src="{% get_static_prefix %}images/comment_icon.gif" alt="Comments:" />
        <a href="{{ object.get_absolute_url }}#disqus_thread" data-disqus-identifier="article-{{ object.id }}">0 Comments</a></span></p>

    {% comment %}<p>{{ object.body|truncatewords_html:50|safe }}</p> {% endcomment %}
        <p class="teaser">
            {% if object.metadata %}
                {% render_metadata object.metadata 'teaser' %}
            {% endif %}
            {{ object.get_teaser|striptags|truncatewords_html:30|safe }}
        </p>
</article>
