{% load thumbnail %}

<li>
    <a href="{{ object.get_absolute_url }}">
    {% with object.get_main_image as main_image %}
    {% thumbnail main_image "300x200" crop="center" as thumb %}
    <img src="{{ thumb.url }}" />
    {% endthumbnail %}
    {% endwith %}
    <h2>{{ object.title|striptags }}</h2>
    </a>
</li>