{% load thumbnail %}

<article class="homepage-small cf">
    <figure>
        {% with object.get_display_image as main_image %}
        {% thumbnail main_image.image.file "200x200" crop="center" as im %}
        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}" alt="{{ main_image.get_caption }}"/>
        {% endthumbnail %}
        {% endwith %}
    </figure>
    <h1><a href="{{ object.get_absolute_url }}">{{ object.title|safe }}</a></h1>
    <div class="meta">
        <p><time pubdate>{{ object.pub_date }}</time></b></p>
    </div>
    <div class="teaser">
        {{ object.deck }}
    </div>
</article>