{% load thumbnail static article_tags %}
<article class="node article-large cf">
    {% with object.get_main_image as main_image %}
        {% thumbnail main_image.image.file "300x300" crop="center" as im %}
            <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}" class="article-image" />
        {% endthumbnail %}{% endwith %}
    <header>
    <h1><a href="{{ object.get_absolute_url }}">{{ object.title|safe }}</a></h1>
    <p class="meta">Published on {{ object.pub_date }}
        <img src="{% get_static_prefix %}images/comment_icon.gif" alt="Comments:" />
        <a href="{{ object.get_absolute_url }}#disqus_thread" data-disques-identifier="article-{{ object.id }}">0 Comments</a>
    </p>
        </header>
        <div class="teaser">
            {% if object.metadata %}
                {% render_metadata object.metadata 'teaser' %}
            {% endif %}
    {{ object.deck }}
            </div>
</article>