{% load thumbnail static article_tags %}

<article class="article-small cf">
    {% with object.get_display_image as main_image %}
    {% thumbnail main_image.image.file "300x300" crop='center' as im %}
    <a href="{{ object.get_absolute_url }}"><img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}" alt="{{ main_image.caption }}" class="article-image"/></a>
    {% endthumbnail %}{% endwith %}
    <header class="cf">
    <h1><a href="{{ object.get_absolute_url }}">{{ object.title|striptags }}</a></h1>
    <p class="meta">
        Published on {{ object.pub_date }}
        <img src="{% get_static_prefix %}images/comment_icon.gif" alt="Comments:" />
        <a href="{{ object.get_absolute_url }}#disqus_thread" data-disqus-identifier="article-{{ object.id }}">0 Comments</a>
    </p>
    </header>
    <div class="teaser">
        {% if object.metadata %}
            {% render_metadata object.metadata 'teaser' %}
        {% endif %}
        {{ object.get_teaser|striptags|truncatewords_html:30 }}
    </div>
</article>
