@import base
@import compass/utilities
@import blueprint/form
@import compass/css3

body
  padding: 1.5em
  margin: auto

.page
  +clearfix
  min-width: 1090px

h1
  font-size: 1.5em
  font-weight: normal
h2
  font-size: 1.2em

a
  color: #777

// utility layout classes
.alpha
  width: 66%
  min-width: 700px
  float: left
.beta
  width: 33%
  float: right
.half
  width: 47%
  float: left
  margin-right: 3%
.cf
  +clearfix

.admin-header
  position: relative
  .version
    position: absolute
    left: 220px
    bottom: 1em
    margin: 0
    font-weight: bold
    color: #555
  img
    width: 190px
  .login-info
    position: absolute
    padding-bottom: 0.2em
    right: 0
    bottom: 0

.admin-menu
  background: #f0f0f0
  border: 1px solid #e5e5e5
  border-bottom: 0
  +clearfix
  ul
    margin: 0
  li
    float: left
    border-right: 1px solid rgba(30,30,30,0.1)
  a
    display: inline-block
    padding: 0.5em 0.8em
    color: #666
    text-decoration: none
    &:hover
      +background-image(linear-gradient(rgba(200,200,200,0),rgba(200,200,200,0.3)))

.main
  border: 1px solid #e5e5e5
  min-height: 400px
  padding: 1.5em

// default list table
.table-container, table.paleblue
  width: 100%


form
  +blueprint-form
  label
    display: block
    color: #555
  label[for="image-clear_id"]
    display: inline
    font-weight: normal
  input[type="text"],textarea
    width: 90%

  input.timepicker
    width: 20px
  input.datepicker
    width: 80px

  #id_author
    width: 40%

  .errorlist
    color: #f00

.mceLayout
  width: 93% !important

table
  width: 100%

.button
  padding: 0.75em
  margin: 1em 0
  border-width: 1px
  border-style: solid
  border-color: rgba(23, 51, 78, 0.15) rgba(23, 51, 78, 0.17) rgba(23, 51, 78, 0.2)
  //+background-image(linear-gradient(#fff, #eee))
  +background-image(linear-gradient(rgba(200,200,200,0),rgba(200,200,200,0.3)))
  +box-shadow(rgba(80,80,80,0.1) 0px 2px 4px)
  color: #777
  text-decoration: none
  line-height: normal
  &:hover
    +background-image(linear-gradient(rgba(200,200,200,0.1),rgba(200,200,200,0.4)))
    border-color: rgba(23,51,78,0.22)
  &.delete
    background-color: #fbb

.buttons
  margin: 1.5em 0
  text-align: left

input.button,button.button
  -webkit-appearance: none
  background-color: transparent

.sidebar
  .block
    border: 1px solid #dadada
    margin-bottom: 1.5em
    +box-shadow(rgba(#ccc,0.5) 2px 2px 5px)
    h2
      font-size: 1em
      color: #777
      background: #f5f5f5
      margin: 0
      padding: 0.2em 1em
      border-bottom: 1px solid #dadada
    .content
      margin: 1em
    &.collapsible
      h2
        cursor: pointer
    label
      display: inline-block
      margin-right: 1em

.messages
  margin: 0
  padding: 0
  li
    padding: 0.3em 2em
    &.success
      color: #272
      border: 1px solid #bcb
      background: image-url('tick.png') 0.5em center no-repeat #e0f4e0
    &.error
      color: #722
      border: 1px solid #cbb
      background: image-url('cross.png') 0.5em center no-repeat #f4e0e0
    &.info
      color: #77a
      border: 1px solid #bbc
      background: image-url('information.png') 0.5em center no-repeat #f0f0ff

.list-filter-form
  float: right
  padding-bottom: 1em
  label
    display: inline
    padding-right: 0.5em
  input
    margin-right: 0.5em


// Specific form styles
.article-form
  header
    background-color: #f4f4f4
    border-bottom: 1px solid #dadada
    margin: -1.5em -1.5em 1.5em -1.5em
    padding: 1.5em
    .actions
      float: right
  #id_title
    font-size: 1.5em
    width: 66%%
  #id_deck
    height: 4em
  #id_body
    height: 500px
  #id_topics
    width: 93%
  h2
    border-bottom: 1px solid #ccc
  .sport-metadata
    label,input
      width: 40%
    p
      width: 48%
      display: inline
  .slug
    font-family: "Courier New", Courier, monospace

.block.articleimages
  ul.image-list
    list-style: none
    li
      border: 1px solid #dadada
      float: none
      padding: 0.5em
      width: auto
      height: auto
      min-height: auto
      margin-bottom: 1.5em
      +clearfix
      img
        float: left
        margin-right: 1em
      .imageinfo
        font-size: 0.7em
        p
          margin: 0

.articleimage-manage-form
  .current-images
    padding: 1em
    min-height: 200px
    background: #f3f3f3
    border: 1px solid #ccc
    +box-shadow(rgba(black, 0.1) 2px 2px 10px 0px inset)
    h2
      margin: 0 0 1em 0
      color: rgba(#aaa,0.7)
      font-weight: normal
      line-height: 1
      text-shadow: 0px 0px 2px rgba(#fff,0.7)

ul.image-list
  list-style: none
  margin: 0
  li
    position: relative
    float: left
    margin: 0 1em 1em 0
    background: #fff
    padding: 0.8em
    border: 1px solid #dadada
    width: 150px
    min-height: 200px
    +box-shadow(rgba(100,100,100, 0.1) 2px 2px 5px 0px)
    img
      display: block
      margin: auto
    .caption
      margin-top: 1em
      font-size: 0.8em
  .delete-button
    background: #fff
    position: absolute
    bottom: 0.5em
    right: 0.5em

.articleimage-browse
  .image-list
    li:hover
      cursor: pointer
    li.selected
      background: #ffe

.section-tree
  margin-left: 2em
  ul
    margin: 0 0 0 2em

.article-list
  list-style: none
  li
    height: 2.5em
    border: 1px solid #ccc
    margin-bottom: 0.5em
    padding: 0.5em
    background: #fff
    +box-shadow(rgba(100,100,100,0.2) 2px 2px 5px 0px)
    .title
      margin: 0
      font-size: 1em
      line-height: 1
      color: #555
      font-weight: bold
    p
      margin: 0
    small
      color: #a0a0a0
    .delete-button
      float: right

.article-related-manage-form
  .article-list
    padding: 0.2em
  #pagination
    font-size: 0.8em
  #related_articles
    min-height: 200px
    background: #ffe

.action-list
  margin-left: 1.5em