{% extends 'base.html' %}
{% block content %}

    <h1>{{ section.name }}</h1>

    {% for a in section.articles.all %}
    <h2>{{ a.title }}</h2>
        {{ a.deck }}
    {% endfor %}

{% endblock %}