{% load thumbnail %}

<figure>
    {% thumbnail image.file "600x400" as thumb %}
    <img src='{{ thumb.url }}' height="{{ thumb.height }}" width="{{ thumb.width }}"/>
    {% if caption or credit %}
    <figcaption>
        {{ caption }}
        {% if credit %}<small>Photo: {{ credit }}</small>{% endif %}
    </figcaption>
    {% endif %}
    {% endthumbnail %}
</figure>