{% extends 'admin/base.html' %}

{% block content %}

<h1>Confirm delete?</h1>

<p>You cannot undo this!</p>

<form action="" method="post">
    <input type="submit" value="Yes, I'm sure!"/>
{% csrf_token %}
</form>

    <p><a href="{% url admin:articles_article_change article.id %}">&laquo; I chickened out, return to article</a></p>

{% endblock %}