{% extends 'admin/base_mini.html' %}
{% load static %}

{% block head %}
<script type="text/javascript">
var ajax_change_page = function (url) {
    $.get(url, function(result) {
        var list = $('#all_articles li',result);
        var pagination = $('#pagination',result);

        $('#all_articles').html(list);
        $('#pagination').html(pagination.html())
                .find('a').click(function() {ajax_change_page(this.href); return false;})
    });
};

var ajax_update_related = function() {
    var ids = new Array();
    $('#related_articles li').each(function() {
        ids.push($(this).attr('data-article-id'));
    });
    $.post('',{related_article_ids: ids});
};

$(function() {
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });

    $('#pagination a').click(function(e) {
        var url = (this.href);
        ajax_change_page(url);
        return false;
    });

    $('.delete-button').click(function() {
        $(this).parents('li').remove();
        ajax_update_related();
    });

    $('#all_articles').sortable({
        connectWith: '#related_articles',
        update: function(event,ui) {
            $(event.toElement).append(
                    $('<input type="image" src="{% get_static_prefix %}images/cross.png" class="delete-button" />')
                            .click(function() {$(this).parents('li').remove()})
            );
            ajax_update_related();
        }
    });
    $('#related_articles').sortable();
})
</script>
{% endblock %}

{% block content %}
<div class="article-related-manage-form">

<div class="half">
<h1>All articles</h1>
<ul id="all_articles" class="article-list">
        {% for a in articles.object_list %}
        <li data-article-id="{{ a.id }}">
            <h2 class="title">{{ a }}</h2>
            <p><small>{% for a in a.author.all %}{{ a.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</small></p>
        </li>
        {% endfor %}
</ul>
<div id="pagination">
{% if articles.has_previous %}
    <a id="prev" href="?page={{ articles.previous_page_number }}">Previous &lsaquo;</a>
{% else %}
    <span style="visibility: hidden">previous</span>
{% endif %}

    {% if articles.has_next %}
        <a id="next" href="?page={{ articles.next_page_number }}">Next &rsaquo;</a>
    {% else %}
        <span style="visibility: hidden">Next</span>
    {% endif %}
</div>
</div>

<div class="half">
<h1>Related articles</h1>
<ul id="related_articles" class="article-list">
        {% for a in related_list %}
        <li data-article-id="{{ a.id }}">
            <h2 class="title">{{ a }}</h2>
            <p><small>{% for a in a.author.all %}{{ a.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</small>            <input type="image" src="{% get_static_prefix %}images/cross.png" class="delete-button" />
            </p>
        </li>
        {% endfor %}
</ul>

</div>
{% endblock %}