{% extends 'admin/base_mini.html' %}
{% load static thumbnail %}
{% block head %}
    <script type="text/javascript" src="{% get_static_prefix %}js/tiny_mce/tiny_mce_popup.js"></script>
    <script type="text/javascript">
        var FileBrowserDialogue = {
            init : function () {
                // Here goes your code for setting your custom things onLoad.;
            },
//            submitImage : function (url) {
//                //var win = tinyMCEPopup.getWindowArg("window");
//                var win = tinyMCEPopup.getWin()
//                win.document.getElementById(tinyMCEPopup.getWindowArg("input")).value = url
//                if (typeof(win.ImageDialog) != "undefined") {
//                    // we are, so update image dimensions...
//                    if (win.ImageDialog.getImageData)
//                        win.ImageDialog.getImageData();
//
//                    // ... and preview if necessary
//                    if (win.ImageDialog.showPreviewImage)
//                        win.ImageDialog.showPreviewImage(URL);
//                }
//                tinyMCEPopup.close();
//            }
//        };
            submitImage : function (image_id,image_url,caption) {
                //alert(image_url);
                var ed=tinyMCEPopup.editor;
                //alert('inserting image '+image_id);

                var args = {
                    src: image_url,
                    'data-image-id': image_id,
                    'data-image-caption': caption,
                    width: 300
                };

                ed.execCommand('mceInsertContent', false, tinyMCEPopup.editor.dom.createHTML('img',args),{skip_undo:1});

                tinyMCEPopup.close();
            }
        };

        tinyMCEPopup.onInit.add(FileBrowserDialogue.init, FileBrowserDialogue);

        $(function() {
            $('#image_list li').click(function() {
                $(this).addClass('selected');
                $('#image_list li').not(this).removeClass('selected');
                $('#id_caption').val($(this).find('.caption-text').html());
                $('#id_image_id').val($(this).data('image-id'));
                $('#id_image_url').val($(this).data('image-url'));
            });

            $('form').bind({
                               'submit': function() {
                                   FileBrowserDialogue.submitImage($('#id_image_id').val(),$('#id_image_url').val(),$('#id_caption').val());
                               }
                           })
        });
    </script>
{% endblock %}
{% block content %}
    <div class="articleimage-browse">
<h2>Article images</h2>
{% if images %}
    <ul class="image-list cf" id="image_list">
    {% for i in images %}
        {% thumbnail i.image.file "100x100" as im %}
    <li data-image-id="{{ i.image.id }}" data-image-url="{{ i.image.file.url }}">
            <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}" />
        <div class="caption">
            <p class="caption-text">{{ i.get_caption }}</p>
            <p>Credit: {{ i.image.credit }}</p>
        </div>
    </li>
        {% endthumbnail %}
    {% endfor %}
    </ul>

    <form>
        <input type="hidden" id="id_image_id"/>
        <input type="hidden" id="id_image_url"/>
        <p><label for="id_caption">Caption: </label>
        <input type="text" id="id_caption"/></p>
        <p><input type="submit" value="Insert" class="button"/></p>
    </form>

    {% else %}
    <p>No images are currently associated with this article!</p>
    {% endif %}
    </div>
{% endblock %}