{% extends 'admin/base.html' %}
{% load sorting_tags %}
{% load render_table from django_tables2 %}

{% block content %}
    <h1 class="page-title">Manage articles</h1>
<h2>All articles</h2>
    <p class="buttons"><a href="{% url admin:articles_article_create %}" class="button">Create article</a></p>
    {% if article_list.count %}
        <div class="list-filter-form">
            <form action="" method="get">
            {{ article_search_form }}
            <input type="submit" />
            </form>
        </div>
        {% render_table article_table %}

    {% else %}
        <p>There are no articles</p>
    {% endif %}

    <h2>My drafts</h2>
    {% if my_articles_list.count %}
        {% render_table my_articles_table %}
    {% else %}
        <p>You don't have any draft articles at the moment</p>
    {% endif %}


    <p><a href="{% url admin:index %}">&lsaquo; back</a></p>
{% endblock %}