{% extends 'admin/base.html' %}
{% load static more_like_this %}
{% block head %}

    <script type="text/javascript" src="{% get_static_prefix %}js/tiny_mce/jquery.tinymce.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery.dirtyforms.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/dirtyforms.tinymce.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/ArticleImageBrowser.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery.colorbox-min.js"></script>
    <link rel="stylesheet" media="screen" href="{% get_static_prefix %}css/colorbox.css" />
    <script type="text/javascript">

        $(function() {
            // Load TinyMCe
            $('#id_body').tinymce({
                script_url: '{% get_static_prefix %}js/tiny_mce/tiny_mce.js',
                content_css: '{% get_static_prefix %}css/admin/tinymce.css',
                theme: 'advanced',
                skin: 'thebigreason',
                file_browser_callback: 'ArticleImageBrowser',
                plugins: 'taol_image,wordcount,taol_flickr',
                theme_advanced_buttons3: "taol_image,taol_flickr",
                extended_valid_elements: 'taol:image'
            });
            // Dirty form
            $('form').dirtyForms();

            // Manage images popup
            $('#manage_images_link').click(function() {
                if ($('#article_form').isDirty()) {
                    if (!window.confirm('You have made changes to this form. Your changes will be lost if you continue without saving form. Do you want to continue and LOSE YOUR CHANGES?')) { return false; };
                }
                $.colorbox({
                               iframe:true,
                               width: "70%",
                               height: "70%",
                               href: this.href,
                               onClosed: function() {document.location.reload()},
                           });
                return false;
            });

            $('#manage_related_link').click(function() {
                if ($('#article_form').isDirty()) {
                    if (!window.confirm('You have made changes to this form. Your changes will be lost if you continue without saving form. Do you want to continue and LOSE YOUR CHANGES?')) { return false; }
                }
                $.colorbox({
                               iframe:true,
                               width: "70%",
                               height: "70%",
                               href: this.href,
                               onClosed: function() {document.location.reload()},
                           });
                return false;
            });

            $('.wf-button').click(function() {
                if ($('#article_form').isDirty()) {
                    if (!window.confirm('You have made changes to this form. Your changes will be lost if you continue without saving. Do you want to continue and LOSE YOUR CHANGES?')) { return false; }
                }
            });

            $('.block.collapsible h2').click(function() {
                $(this).next().toggle('blind');
            })
        });
    </script>
    {{ form.media }}
{% endblock %}
{% block content %}
    <div class="article-form">
    <form action="" method="post" id="article_form">

    <header>
    {{ form.title }}

        <div class="actions">
        {% if perms.articles.publish_article %}
        <a href="{% url admin:articles_article_delete article.id %}" class="button delete">Delete</a>
        {% endif %}
        {% if article.is_published %}
            <a href="{{ article.get_absolute_url }}" class="button" target="_blank">View live article &raquo;</a>
        {% else %}
            <a href="{{ article.get_preview_url }}" class="button" target="_blank">Preview &raquo;</a>
        {% endif %}
        <button type="submit" name="action" value="save" class="button">Save</button>
            <button type="submit" name="action" value="save_and_close" class="button">Save and close</button>
        </div>
    </header>

    <div class="cf">
    <div class="form-main alpha">
    <p{% if form.slug.css_classes %} class="{{ form.slug.css_classes }}"{% endif %}>
        {{ form.slug.label_tag }}
        {{ form.slug.errors }}
        {% if article.is_published %}
            <span class="slug">{{ article.slug }}</span> <small>(slug cannot be changed once published)</small>
            <input type="hidden" value="{{ article.slug }}" name="slug" />
        {% else %}
            {{ form.slug }}
        {% endif %}
        </p>
    <p>
        {{ form.deck.label_tag }}
        {{ form.deck.errors }}
        {{ form.deck }}</p>
    <p>{{ form.author.label_tag }}
        {{ form.author.errors }}
    {{ form.author }}</p>
    <p>{{ form.body.label_tag }}
        {{ form.body.errors }}
    {{ form.body }}</p>

        <label for="id_comments_enabled">Comments enabled:</label>
        <select id="id_comments_enabled" name="comments_enabled">
            <option value="1">Enabled</option>
            <option value="0">Disabled</option>
        </select>

{% csrf_token %}
    </div>

    <div class="sidebar beta">
        <div class="block">
            <h2>Publication workflow</h2>
            <div class="content">
            <p>Current status: {{ article.get_pub_status_desc }}</p>
                {% if perms.articles.publish_article %}
                    {{ form.pub_date.label_tag }}
                    {{ form.pub_date.errors }}
                    <p>{{ form.pub_date }}</p>
                {% endif %}
                <p>
                    {#% if article.pub_status != 'T' %#}
                    {% if perms.articles.publish_article and article.pub_status != 'P' %}
                    <button type="submit" name="wf_target" value="P" class="button wf-button">Publish</button>
                    {% endif %}
                    {% if article.pub_status == 'E' or article.pub_status == 'A' and user_is_editor %}
                        <button type="submit" class="button wf-button" name="wf_target" value="S">Send to subeditor</button>
                        <button type="submit" class="button wf-button" name="wf_target" value="D">Reject</button>
                    {% endif %}
                    {% if user_is_subeditor or user_is_editor and article.pub_status == 'S' %}
                        <button type="submit" class="button wf-button" name="wf_target" value="A">Mark subedited</button>
                    {% endif %}
                    {% if article.pub_status == 'D' %}<button type="submit" class="button wf-button" name="wf_target" value="E">Send for edit</button>{% endif %}
                    {% if article.pub_status == 'P' and perms.articles.publish_article %}
                        <button type="submit" class="button wf-button" name="wf_target" value="E">Unpublish</button>
                    {% endif %}
                    {% comment %}
                        {% if article.pub_status != 'P' %}
                        <button type="submit" class="button wf-button" name="wf_target" value="T">Trash</button>
                    {% endif %}
                    {% else %}
                        <button type="submit" class="button wf-button" name="wf_target" value="D">Untrash</button>
                    {% endif %}
                    {% endcomment %}
                </p>
            </div>
        </div>

        <div class="block collapsible">
            <h2>Recent actions</h2>
            <div class="content" style="display: none">
                <ul>
                    {% for action in latest_actions %}
                    <li><strong>{{ action.user }}</strong> changed article from <strong>{{ action.get_old_status_display }}</strong> to <strong>{{ action.get_new_status_display }}</strong> <small>({{ action.time }})</small></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="block">
            <h2>Flags</h2>
            <div class="content">
                <p>{{ form.editors_pick.label_tag }}
                {{ form.editors_pick.errors }}
                {{ form.editors_pick }}</p>
                <p>{{ form.pin_on_section_page.label_tag }}
                {{ form.pin_on_section_page.errors }}
                {{ form.pin_on_section_page }}</p>
                <p>{{ form.pin_on_homepage.label_tag }}
                    {{ form.pin_on_homepage.errors }}
                    {{ form.pin_on_homepage }}</p>
            </div>
        </div>

        <div class="block">
            <h2>Taxonomy</h2>
            <div class="content">
                <p>{{ form.primary_section.label_tag }}
                    {{ form.primary_section.errors }}
                {{ form.primary_section }}</p>
                <p>
                    {{ form.keywords.label_tag }}
                    {{ form.keywords.errors }}
                    {{ form.keywords }}<br/>
		    <small>Use as many as possible. All lowercase, comma separated</small> {# TODO: use help_text instead #}
                </p>
                <p>{{ form.topics.label_tag }}
                    {{ form.topics.errors }}
                    {{ form.topics }}</p>
            </div>
        </div>

        {% if article.metadata %}
            <div class="block {{ article.metadata.description|slugify }}">
            <h2>{{ article.metadata.description }}</h2>
            <div class="content">
                {{ articlemetadata_form.as_p  }}
            </div>
        </div>{% endif %}

        <div class="block articleimages">
            <h2>Images</h2>
            <div class="content">
                <p>{{ form.display_main_image.label_tag }}
                    {{ form.display_main_image.errors }}
                {{ form.display_main_image }}</p>
                <p>{{ form.main_image_caption.label_tag }}
                {{ form.main_image_caption.errors }}
                {{ form.main_image_caption }}</p>
                {# Must save to add images #}
                {% if article.id %}
                    <ul class="image-list">
                        {% for i in article.images %}
                            <li>
                                <img src="{{ i.image.file.url }}" width="100" />
                                <div class="imageinfo">
                                    <p>Caption: {{ i.get_caption }}</p>
                                    <p>Credit: {{ i.image.credit }}</p>
                                    <p>Main image: {% if i.is_main %}Yes{% else %}No{% endif %}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="{% url admin:articles_articleimage_create pk=article.id %}" class="button" id="manage_images_link">Manage images</a>
                {% else %}
                    <p>Save this article to add images</p>
                {% endif %}
            </div>
        </div>

        <div class="block">
            <h2>Stats</h2>
            <div class="content">
                Pageviews: {{ article.pageviews }}
            </div>
        </div>

        <div class="block collapsible">
            <h2>Related articles</h2>
            <div class="content" style="display: none">
                {% more_like_this article as auto_related limit 5 %}
                <ul class="article-list">
                    {% for a in related_articles_list %}
                        <li>
                    <h3 class="title">{{ a }}</h3>
                        <p>{% if a.author.all %}by {% for a in a.author.all %}{{ a.name }}{% if not forloop.last %}, {% endif %}{% endfor %},{% endif %} {{ a.get_pub_status_desc }}</p></li>
                    {% endfor %}
                </ul>
                {% comment %}<a id="manage_related_link" href="{% url admin:articles_article_related_manage article.id %}" class="button">Edit</a>{% endcomment %}
            </div>
        </div>

        <div class="block collapsible">
            <h2>Advanced</h2>
            <div class="content" style="display: none">
                <p>Warning: do NOT touch this unless you know what you are doing</p>
                <p>{{ form.custom_template.label_tag }}
                {{ form.custom_template }}</p>
            </div>
        </div>
    </div>
    </div>

</form>
</div>

{% endblock %}
