{% extends 'admin/default_form.html' %}
{% load static %}

{% block head %}
{{ form.media }}
    <script type="text/javascript" src="{% get_static_prefix %}js/tiny_mce/jquery.tinymce.js"></script>

    <script type="text/javascript">
    $(function() {
        $('#id_biog').tinymce({
              script_url: '{% get_static_prefix %}js/tiny_mce/tiny_mce.js',
              content_css: '{% get_static_prefix %}css/screen.css',
              theme: 'advanced',
              skin: 'thebigreason'
                // TODO: cut down menu
          });
    })
</script>
{% endblock %}