{% extends 'admin/base_mini.html' %}

{% load thumbnail static %}

{% block head %}

    <script type="text/javascript">
    $(function() {
        $('.set-main-image-radio').click(function() {
            $('form').submit();
        })
    });
    </script>

{% endblock %}

{% block content %}

    <div class="articleimage-manage-form">
    <div class="current-images cf">
    <h2>Attached images</h2>
<form action="" method="post">
    <ul class="image-list">
    {% for i in article.images %}
        {% thumbnail i.image.file "150x150" as thumb %}
        <li>
            <img src="{{ thumb.url }}" height="{{ thumb.height }}" width="{{ thumb.width }}"/>
            <div class="caption">
                Caption: {{ i.get_caption }}<br/>
                Credit: {{ i.image.credit }}<br/>
                <input type="radio" class="set-main-image-radio" name="main_image[]" value="{{ forloop.counter0 }}" {% if i.is_main %}checked="checked"{% endif %} id="id_main_image_{{ forloop.counter0 }}"/>
                <label for="id_main_image_{{forloop.counter0}}">Main image</label>
            </div>
            <input type="image" src="{% get_static_prefix %}images/cross.png" name="delete_image" class="delete-button" value="{{ forloop.counter0 }}" />
        </li>
        {% endthumbnail %}
    {% endfor %}
    </ul>
{% csrf_token %}
</form>
    </div>

<h2>Available images</h2>
        <p><a href="{% url admin:images_image_create %}?success={% url admin:articles_articleimage_create pk=article.id %}" class="button">Upload new image</a></p>
        <form action="" method="post">
    {% csrf_token %}
    <ul class="cf image-list">
        {% for i in images.object_list %}
        {% thumbnail i.file "150x150" as thumb %}
            <li><input type="image" src="{{ thumb.url }}" name="image_id" value="{{ i.id }}" />
            <div class="caption">{{ i.description }}</div></li>
        {% endthumbnail %}
    {% endfor %}
    </ul>
</form>

        <div class="pagination">
    <span class="step-links">
        {% if images.has_previous %}
            <a href="?page={{ images.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ images.number }} of {{ images.paginator.num_pages }}.
        </span>

        {% if images.has_next %}
            <a href="?page={{ images.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>

</div>
{% endblock %}