{% extends 'admin/default_list.html' %}
{% load render_table from django_tables2 %}

{% block content %}

    <h1>Manage authors</h1>

    <p><a href="{% url admin:articles_author_create %}" class="button">Create new author</a></p>

{% render_table author_table %}

    <p><a href="{% url admin:articles_author_create %}" class="button">Create new author</a></p>

{% endblock %}