{% load static taxonomy_helpers %}
<!doctype html>
<html>
<head>
    <title>The Angle</title>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/admin/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/admin/screen.css" />
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}django_tables2/themes/paleblue/css/screen.css" />
    <script src="{% get_static_prefix %}js/jquery.min.js"></script>
    <script src="{% get_static_prefix %}js/jquery-ui.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>

{% block content %}
{% endblock %}

</body>
</html>