{% load static taxonomy_helpers %}
<!doctype html>
<html>
<head>
    <title>The Angle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/admin/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/admin/screen.css" />
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/palegrey.css" />
    <script src="{% get_static_prefix %}js/jquery.min.js"></script>
    <script src="{% get_static_prefix %}js/jquery-ui.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<div class='page'>
    <header class="admin-header">
        <img src="{% get_static_prefix %}images/logo.png" />
        <p class="version">Editorial CMS v0.1b</p>
        <div class="login-info">
            {% if user %}
                Welcome, {{ user }} &middot; <a href="{% url logout %}">Logout</a>
            {% endif %}
        </div>
    </header>
        <nav class='admin-menu'>
            <ul>
                <li><a href="{% url admin:index %}">Home</a></li>
                <li><a href="{% url admin:articles_article_changelist %}">Manage articles</a></li>
                <li><a href="{% url admin:images_image_changelist %}">Manage images</a></li>
                <li><a href="{% url admin:layout_index %}">Manage layout</a></li>
                <li><a href="{% url admin:taxonomy_section_changelist %}">Manage sections</a></li>
                <li><a href="{% url admin:articles_author_changelist %}">Manage authors</a></li>
            </ul>
        </nav>
    {% include 'admin/common/messages.html' %}
    <div class='main'>
{% block content %}{% endblock %}
    </div>
</div>

</body>
</html>