{% extends 'admin/base.html' %}
{% load render_table from django_tables2 %}

{% block content %}

    <h1>All {{ object_name_plural }}</h1>

        {% if object_list.count %}
            {% if object_table %}
                {% render_table object_table %}
            {% else %}
                <ul>
                {% for object in object_list %}
                <li>{{ object }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% else %}
    <p>No {{ object_name_plural }} available.</p>
    {% endif %}
    <p><a href="{{ create_url }}">create new {{ object_name }}</a></p>
    <p><a href="{% url admin:index %}">&lsaquo; back</a></p>


{% endblock %}