{% extends 'admin/base.html' %}
{% block head %}
{{ form.media }}
{% endblock %}

{% block content %}

    {% if not object.id %}
    <h1>Create new {{ object_name }}</h1>
    {% else %}
    <h1>Editing {{ object_name }} '{{ object }}'</h1>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">

    {{ form.as_p }}
    {% csrf_token %}
    <input type='submit' class="button" />

    </form>

{% endblock %}