{% extends 'admin/base.html' %}
{% load render_table from django_tables2 %}

{% block content %}
<h1>Admin homepage</h1>
    {% if has_intray %}
        <h2>{{ intray_title }}</h2>
        {% if intray_table %}
        {% render_table intray_table %}
        {% else %}
            <p>There are no articles in your intray!</p>
        {% endif %}
    {% endif %}

    {% if recent_actions %}
    <h2>Recent actions</h2>
        <ul class="action-list">
        {% for action in recent_actions %}
		{% if action.article.id %}
        <li><strong>{{ action.user }}</strong> changed <strong><a href="{% url admin:articles_article_change action.article.pk %}">{{ action.article }}</a></strong> from <strong>{{ action.get_old_status_display }}</strong> to <strong>{{ action.get_new_status_display }}</strong> <small>({{ action.time }})</small></small></li>
		{% endif %}
        {% endfor %}
        </ul>
    {% endif %}


{% endblock %}
