{% extends 'admin/base_mini.html' %}
{% block content %}
<h1>Image upload</h1>

<form action="" method="POST" enctype="multipart/form-data">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" name="Submit" />
</form>
    
{% endblock %}