{% extends 'admin/base.html' %}
{% block content %}
<h1>Image upload</h1>

<form action="" method="POST" enctype="multipart/form-data">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" name="Submit" />
</form>

    {% if articles_used_list %}
    <p>This image is currently used in the following articles:</p>
    <ul>
    {% for a in articles_used_list %}
        <li>{{ a }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    
{% endblock %}