{% extends 'admin/base.html' %}
{% load render_table from django_tables2 %}
{% block content %}
<h1>Managing images</h1>
    <div class="buttons"><a href="{% url admin:images_image_create %}" class="button">New image</a></div>
    <div class="list-filter-form">
        <form action="" method="get">
            {{ image_search_form }}
            <input type="submit" />
        </form>
    </div>

    {% render_table image_table %}
    <div class="buttons"><a href="{% url admin:images_image_create %}" class="button">New image</a></div>

{% endblock %}