{% extends 'admin/base.html' %}
{% block content %}
<h1>Well list</h1>

    <ul>
    {% for w in well_list %}
    <li><a href="{% url admin:layout_well_change w.id %}">{{ w.title }}</a></li>
    {% endfor %}
    </ul>

    <p><a href="{% url admin:layout_well_create %}">New well</a></p>
{% endblock %}