{% extends 'admin/base.html' %}
{% load static %}

{% block head %}
<script type="text/javascript" src="{% get_static_prefix %}js/jquery.formset.min.js"></script>
{% endblock %}

{% block content %}

    <form action="" method="post">
    {{ form.as_p }}
        <h2>Items</h2>
        <div id="node_formset">
        {% for f in node_formset.forms %}
            <div class="node-form">
                {{ f.as_p }}
            </div>
        {% endfor %}
        {{ node_formset.management_form }}
        </div>
    {% csrf_token %}
    <input type="submit" class="button"/>
    </form>
<script type="text/javascript">
$(function() {
    $('#node_formset .node-form').formset();
})
</script>
{% endblock %}