{% extends 'admin/base.html' %}

{% block content %}

<h1>Layout</h1>

<ul>
    <li><a href="{% url admin:layout_articlelist_changelist %}">Manage article lists</a></li>
    <li><a href="{% url admin:layout_well_changelist %}">Manage wells</a></li>
</ul>
{% endblock %}