{% extends 'admin/base.html' %}
{% block head %}
<script type="text/javascript">
    $(function() {

        $("#articles_list").sortable({
            connectWith: '.connected-sortable',
            stop: function(event, ui) {
                var srcElement = $(event.srcElement);
                var aid = srcElement.data('article-id');
                var newli = $('#node_template').clone().show()
                        .attr('id','node_'+aid);
                newli.find('input').val($(event.srcElement).html()).attr('id',aid+'_title_override');
                newli.find('label').attr('for',aid+'_title_override');
                $(event.toElement).replaceWith(newli);
                alert(newli.onclick);
                $(event.srcElement).hide();
                return false;
            }
                                     }).disableSelection();

        $('#well_article_drop').sortable().disableSelection();

        $('.delete-link').click(function () {
            $(this).parent().parent().fadeOut();
        });
    });

</script>
<style type="text/css">
#articles_list li, #well_article_drop li { padding: 10px; border: 1px solid #ddd; }
#articles_list, #well_article_drop { height: 200px; background: #ffffee }
</style>
    {{ form.media }}
{% endblock %}
{% block content %}
<h1>Editing well</h1>
    {{ form.errors }}
    <form method="post" action="">
    <table>
    {{ form.as_table }}
    </table>
        {% csrf_token %}
    <input type="submit" />
    </form>
    <h2>Articles</h2>
    <p>Available articles:</p>
    <ul id='articles_list' class='connected-sortable'>
    {% for a in articles %}
    <li id="article_{{ a.id }}" data-article-id="{{ a.id }}">{{ a }}</li>
    {% endfor %}
    </ul>
    <p>Used articles:</p>
    <ul id='well_article_drop' class='connected-sortable'>
    <li style="display: none" id="node_template">
        <label>Title:</label>
        <input type="text" />
        <p><a href="#" class="delete-link">[x]</a></p>
    </li>
    {% for n in well.nodes %}
    <li id="node_{{ n.content_object.id }}">
        <label for="{{ n.content_object.id }}_title_override">Title:</label>
        <input type="text" id="id_{{ n.content_object.id }}_title_override" value="{{ n.content_object.title }}"/>
        <p><a href="#" id="delete_{{ n.content_object.id }}" class="delete-link">[x]</a></p>
    </li>
    {% endfor %}
    </ul>
{% endblock %}