{% extends 'admin/base.html' %}

{% block head %}
<script type='text/javascript'>


</script>
{% endblock %}

{% block content %}
    {% if object.id %}
        <h1>Editing section '{{ object.name }}'</h1>
    {% else %}
        <h1>New section</h1>
    {% endif %}

    <form action="" method="post">
            {{ form.as_p }}
    {% csrf_token %}
    <input type="submit"/>
    </form>

{% endblock %}