{% extends 'admin/base.html' %}
{% load taxonomy_helpers %}
{% load render_table from django_tables2 %}

{% block content %}
<h1>Sections</h1>
    {% if section_list.count %}
        {% render_table section_table %}
    {% else %}
    <p>There are no sections</p>
    {% endif %}
    <p class="buttons"><a href="{% url admin:taxonomy_section_create %}" class="button">Create section</a></p>

{% endblock %}