{% load thumbnail %}
{% if article.get_main_image and article.display_main_image %}
    <figure>
        {% with main_image=article.get_main_image %}
            {% thumbnail main_image.image.file "745x384" crop="center" as im %}
                <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"/>
            {% endthumbnail %}
            <figcaption>{% firstof article.main_image_caption main_image.get_caption %} {% if main_image.image.credit %}<small class="credit">Photo: {{ main_image.image.credit }}</small>{% endif %}</figcaption>
        {% endwith %}
    </figure>
{% endif %}