{% load thumbnail article_tags %}
<div class="meta">

    {% comment %}
    {% if article.author.count == 1 %}
        {% with article.author.all|first as author %}
            {% thumbnail author.image "100x100" as im %}
                <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}" />
            {% endthumbnail %}
            <p class="author{% if not im %} noimage{% endif %}">By <a href="{{ author.get_absolute_url }}"><strong>{{ author }}</strong></a>
                {% if author.position %}
                    <br/>{{ author.position }}
                {% endif %}</p>

        {% endwith %}
    {% else %}
        {% if article.author.count > 1 %}
            <p class="author noimage">By
                {% for a in article.author.all %}
                    <a href="{{ a.get_absolute_url }}">{{ a.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    {% endif %}{% endcomment %}

    {% if article.author.count == 1 %}
        {% with article.author.all|first as author %}
            <p class="author">By <a href="{{ author.get_absolute_url }}"><strong>{{ author }}</strong></a>
                {% if author.position %}
                    <br/>{{ author.position }}
                {% endif %}</p>

        {% endwith %}
    {% else %}
        {% if article.author.count > 1 %}
            <p class="author noimage">By
                {% for a in article.author.all %}
                    <a href="{{ a.get_absolute_url }}">{{ a.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    {% endif %}


    <p class="pubdate">Last updated {{ article.modified|naturaltime }}</p>
</div>