{% load thumbnail %}
{% if article.get_related %}
    <div class="morelikethis block">
        <h1 class="block-title">More like this</h1>
        <ul>
            {% for r in article.get_related %}
                <li>{% comment %}{% with r.get_display_image as image %}
                    {% thumbnail image.image.file "300x200" crop="center" as im %}
                        <a href="{{ r.get_absolute_url }}"><img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}" /></a>
                    {% endthumbnail %}
                {% endwith %}{% endcomment %}
                    <a href="{{ r.get_absolute_url }}">{{ r.title|striptags }}</a></li>
            {% endfor %}
        </ul>

    </div>
{% endif %}