{% load article_blocks %}
<div class="sidebar">
    {% top_content_block %}
    <div id='div-gpt-ad-1349455451480-0' style='width:300px; height:300px;'>
        <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1349455451480-0'); });
        </script>
    </div>

    {% editors_pick current_section %}
    <!-- article_skyscraper -->
    <div id='div-gpt-ad-1353672843869-0' style='width:120px; height:600px;'>
        <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1353672843869-0'); });
        </script>
    </div>

</div>