<div class="social-sharing" style="margin-top: 1.5em">
    <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
    <div class="g-plusone" data-size="medium" data-count="true"></div>
    <fb:like href="http://www.theanglenews.co.uk{{article.get_absolute_url}}" send="true" layout="button_count" width="450" show_faces="false"></fb:like>
</div>