{% load thumbnail %}

{% if article_list %}
<div class="editors-pick block">
    <header>
    <h1 class="block-title">Editor's picks</h1>
    </header>
    {% for a in article_list %}
    <article class="cf">
        <a href="{{ a.get_absolute_url }}">
            {% with a.get_display_image as main_image %}
                {% thumbnail main_image.image.file "100x100" crop="center" as im %}
                    <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}" class='article-image' />
                {% endthumbnail %}
            {% endwith %}
            <hgroup>
            <h2 class="{{ a.primary_section.slug }}">{{ a.primary_section }}</h2>
            <h1>{{ a.title|striptags }}</h1>
            </hgroup>
            <p class="teaser">
                {{ a.deck }}
            </p>
        </a>
    </article>
    {% endfor %}
</div>
{% endif %}