{% load thumbnail %}
<div class="top-content block" id="top_content_tabs">
    <h1 class="block-title">Top stories</h1>
    <nav>
        <ul>
            <li><a href="#most-read-tab">Most read</a></li>
            <li><a href="#most-recent-tab">Most recent</a></li>
            {% if most_commented %}<li><a href="#most-commented-tab">Most commented</a></li>{% endif %}
        </ul>
    </nav>
    <div id="most-read-tab">
        <ol>
            {% for a in most_read %}
                <li>
                    <a href="{{ a.get_absolute_url }}">
                        {% thumbnail a.get_display_image.image.file "100x100" crop="center" as th %}
                            <img src="{{ th.url }}" width="{{ th.width }}" height="{{ th.height }}" alt="{{ a.get_display_image.caption }}" />
                        {% endthumbnail %}
                        <h3 class="{{ a.primary_section.slug }}">{{ a.primary_section }}</h3>
                        <h4>{{ a.title|striptags }}</h4>
                    </a>
                </li>
            {% endfor %}
        </ol>
    </div>
    <div id="most-recent-tab">
        <ol>
            {% for a in most_recent %}
                <li>
                    <a href="{{ a.get_absolute_url }}">
                        {% thumbnail a.get_display_image.image.file "100x100" crop="center" as th %}
                        <img src="{{ th.url }}" width="{{ th.width }}" height="{{ th.height }}" alt="{{ a.get_display_image.caption }}" />
                        {% endthumbnail %}
                        <h3 class="{{ a.primary_section.slug }}">{{ a.primary_section }}</h3>
                        <h4>{{ a.title|striptags }}</h4>
                    </a>
                </li>
            {% endfor %}
        </ol>
    </div>
    {% if most_commented %}
    <div id="most-commented-tab">
        <ol>
            {% for a in most_commented %}
                <li>{{ a.title|striptags }}</li>
            {% endfor %}
        </ol>
    </div>
    {% endif %}
</div>