{% extends 'base.html' %}

{% block content %}

<h1>All articles</h1>
{% for article in article_list %}
    <h2><a href="{% url article_detail slug=article.slug %}">{{ article.title }}</a></h2>
    <p>Created on: {{ article.created_on }}</p>
    <p>{{ article.body|safe }}</p>
    <p>This article has {{ article.comments|length }} comments</p>
    <hr/>
{% endfor %}

{% endblock %}