{% extends 'base.html' %}
{% load thumbnail static article_tags article_blocks more_like_this %}

{% block admin_toolbar_actions %}
<li><a href="{% url admin:articles_article_change article.id %}">Edit this article</a></li>
{% endblock %}

{% block head %}
    <meta property="fb:app_id" content="130973980331487" />
    <meta property="og:type"   content="article" />
    <meta property="og:url"    content="http://www.theanglenews.co.uk{{ article.get_absolute_url }}" />
    <meta property="og:title"  content="{{ article.title|striptags }}" />
    {% thumbnail article.get_display_image.image.file "300x300" crop="center" as fbimage %}
    <meta property="og:image"  content="http://www.theanglenews.co.uk{{ fbimage.url }}" />

    {% endthumbnail %}
    <meta property="og:description" content="{{ article.deck|striptags }}" />
    <meta property="og:section" content="{{ article.section.title|striptags }}" />
    <meta property="article:published_time" content="{{ article.pub_date|date:"Y-m-d" }}T{{ article.pub_date|date:"G:i" }}"
    <meta property="article:modified_time" content="{{ article.modified|date:"Y-m-d" }}T{{ article.modified|date:"G:i" }}" />
    {% for a in article.author.all %}
    <meta property="article:author" content="http://www.theanglenews.co.uk{{ a.get_absolute_url }}">
    {% endfor %}

    <meta property="twitter:card" content="summary" />
    {# Twitter image above #}
    <meta property="twitter:site" content="theanglenews" />
    <meta property="twitter:creator" content="theanglenews" />

{% endblock %}

{% block content %}
    <div class="page-layout">
    <article class="article-detail main">
    <header>
    <h1>{{ article.title|safe }}</h1>
    {% include 'articles/partials/main_image.html' %}
    {% include 'articles/partials/meta.html' %}
    </header>
        <div class="cf">
        <div class="bodycopy">
        {% include 'articles/partials/social.html' %}
            <p class="pubdate">{{ article.pub_date|date:"d N Y" }}</p>
            {% render_metadata article.metadata %}
            <p>{{ article.body|body_filter|safe }}</p>
        </div>

        {% include 'articles/partials/more_like_this.html' %}
        </div>

    {% if article.comments_enabled and article.is_published %}
    {% include 'common/comments.html' %}
    {% endif %}


    </article>

    {% include 'articles/partials/sidebar.html' %}
    </div>
{% endblock %}

{% block endscripts %}
<script type="text/javascript">
    $.post('/stats/track',{article_id: '{{ article.id }}'});
</script>
{% endblock %}
