{% extends 'base.html' %}
{% load thumbnail article_blocks layout_helpers static %}

{% block head %}
    <meta property="fb:app_id" content="130973980331487" />
    <meta property="og:type"   content="profile" />
    <meta property="og:url"    content="http://www.theanglenews.co.uk{{ author.get_absolute_url }}" />
    <meta property="og:title"  content="{{ author }}" />
    {% thumbnail author.image "300x300" as fbimage %}
    <meta property="og:image"  content="{{ fbimage.url }}" />
    {% endthumbnail %}
{% endblock %}

{% block content %}
    <div class="page-layout">
<div class="main">
    <h1>Profile for {{ author.name }}</h1>

    {% if author.image %}
    {% thumbnail author.image "200x200" as t %}
        <img src="{{ t.url }}" width="{{ t.width }}" height="{{ t.height }}" alt="{{ author.name }}" />
    {% endthumbnail %}
    {% endif %}

    {{ author.biog|safe }}

    <h2>All articles by {{ author }}</h2>
    {% render_iter author_published_articles %}
        {% render_next 'large' %}
        {% render_remainder 'small' %}
    {% endrender_iter %}
    </div>
    <div class="sidebar">
    {% top_content_block %}
    </div>
    </div>

{% endblock %}