// Colours

$font-color: #333

// The base font size.
$base-font-size: 16px !default

// Overrides default set in Vertical Rhythm partial.

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 24px // Overrides default set in Vertical Rhythm partial.

// The font sizes for h1-h6. You should set these variables in your _base partial.
$h1-font-size: 2 * $base-font-size !default
$h2-font-size: 1.5 * $base-font-size !default
$h3-font-size: 1.17 * $base-font-size !default
$h4-font-size: 1 * $base-font-size !default
$h5-font-size: 0.83 * $base-font-size !default
$h6-font-size: 0.75 * $base-font-size !default

// Setting this to false will result in smaller output, but no support for ie6 hacks.
// $legacy-support-for-ie6: true; // Overrides default set in Support partial.

// Setting this to false will result in smaller output, but no support for ie7 hacks.
// $legacy-support-for-ie7: true; // Overrides default set in Support partial.

// The default font family. You should set $base-font-family in your _base partial.
$base-font-family: 'Droid Serif', Georgia, Times, 'Times New Roman', sans-serif !default
$sans-stack: "PT Sans", Arial, Helvetica, Verdana, sans-serif

// Article headlines
$headline-font-family: $sans-stack
//$headline-font-family: "PT Sans Narrow"

// Section colours

$news: #863338
$comment: #6699CC
$features: #E9AE3F
$culture: #333379
$fashion: #FF6699
$sport: #006600

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default

@mixin section-background-colours
  &.news
    background-color: $news
  &.comment
    background-color: $comment
  &.features
    background-color: $features
  &.culture
    background-color: $culture
  &.fashion
    background-color: $fashion
  &.sport
    background-color: $sport

@mixin section-foreground-colours
  &.news
    color: $news
  &.comment
    color: $comment
  &.features
    color: $features
  &.culture
    color: $culture
  &.fashion
    color: $fashion
  &.sport
    color: $sport

@mixin section-parent-foreground-colours
  .news-section &
    color: $news
  .comment-section &
    color: $comment
  .features-section &
    color: $features
  .culture-section &
    color: $culture
  .fashion-section &
    color: $fashion
  .sport-section &
    color: $sport

@mixin section-background-colours-light
  .news-section &
    color: $news
    border-color: desaturate($news,20)
    background: lighten($news,60)

  .features-section &
    background: lighten($features,38)
    color: $features

  .comment-section &
    background: lighten($comment,35)
    color: $comment

  .culture-section &
    background: lighten($culture,60)
    color: $culture

  .fashion-section &
    background: saturate(lighten($fashion,28),10)
    color: $fashion

  .sport-section &
    background: lighten(desaturate($sport,50),75)
    color: $sport

@mixin section-border-colours
  .news-section &
    border-color: $news
  .comment-section &
    border-color: $comment
  .features-section &
    border-color: $features
  .culture-section &
    border-color: $culture
  .fashion-section &
    border-color: $fashion
  .sport-section &
    border-color: $sport