@font-face
  font-family: 'Futura Condensed Bold'
  src: url('../fonts/futura-condensedextrabold-webfont.eot')
  src: url('../fonts/futura-condensedextrabold-webfont.eot?iefix') format('eot'), url('../fonts/futura-condensedextrabold-webfont.woff') format('woff'), url('../fonts/futura-condensedextrabold-webfont.ttf') format('truetype'), url('../fonts/futura-condensedextrabold-webfont.svg') format('svg')