$col-width: 4.85%
$gutter: 3.8%
$total-col: $col-width + $gutter

@function col-width-basic($n)
  @return ($n - 1)*$total-col + $col-width

@mixin col($n,$y,$last: false)
  $parentwidth: col-width-basic($y)
  $width: (col-width-basic($n)/col-width-basic($y))*100%
  width: $width
  float: left
  @if $last
    margin-right: 0
  @else
    margin-right: (3.8%/$parentwidth)*100%

#grid_underlay
  display: none
  z-index: -9999
  position: fixed
  width: 1140px
  div
    +col(1,12)
    background: rgba(255,0,0,0.1)
    height: 1140px
    &:last-child
      +col(1,12,true)