
@import base
@import fonts
@import grid
@import ui

@import compass/utilities
@import compass/css3

/* utilities */
.cf
  +clearfix

.omega
  margin-right: 0

.star-rating
  display: block
  +sprite-img('starrating.png',1,1,160px)
  text-indent: -999px
  &.r1
    background-position: 0 100%
  &.r2
    background-position: 0 75%
  &.r3
    background-position: 0 50%
  &.r4
    background-position: 0 25%
  &.r5
    background-position: 0 0

.ui-tabs-hide
  display: none
.ui-tabs-nav
  border-bottom: 1px solid #000
  padding: 0.3em
  font-family: $sans-stack
  li
    display: inline
    a
      padding: 0.5em 0.4em
      border: 1px solid #888
      background-color: #fff
      text-decoration: none
    &.ui-tabs-selected
      a
        border-bottom: 0
        padding: 0.6em
        border-color: #000
.ui-tabs-panel
  clear: both

/* Basic layout */

body
  max-width: 1140px
  min-width: 960px
  margin: auto
  padding: 0 1.5em 0 1.5em

.page-layout
  +clearfix
  .main
    +col(8,12)
  .sidebar
    +col(4,12,true)

/* generic base styles */

h1,h2,h3,h4,h5,h6
  font-family: $sans-stack
  line-height: 1.15em

a
  color: #444

img
  max-width: 100%
  height: auto

/* GLOBAL SITE ELEMENTS */
/* masthead */
.masthead
  a
    color: #444
    text-decoration: none
  .toplinks
    font-size: 0.85em
    padding: 0.2em
    border-bottom: 1px solid #b8b8b8
    margin-bottom: 1em
  .secondary
    float: left
    a
      padding: 0 0.4em
    li
      display: inline
  .social-links
    float: right
  .primary
    clear: both
    background: #eee
    height: 2em
    border-bottom: 3px solid #555
    border-top: 1px solid #B8B8B8
    font-family: $sans-stack
    font-weight: bold
    color: #444
    position: relative
    .news-section &
      border-bottom-color: $news
    .comment-section &
      border-bottom-color: $comment
    .features-section &
      border-bottom-color: $features
    .culture-section &
      border-bottom-color: $culture
    .fashion-section &
      border-bottom-color: $fashion
    .sport-section &
      border-bottom-color: $sport
    ul
      position: absolute
      bottom: 0
      float: left
      padding-bottom: 0.3em
    li
      display: inline
      a
        padding: 0.8em 0.8em 0.5em 0.8em
        &.current,&:hover
          color: #fff
        &.news
          &:hover,&.current
            background: $news
        &.comment
          &:hover,&.current
            background: $comment
        &.features
          &:hover,&.current
            background: $features
        &.culture
          &:hover,&.current
            background: $culture
        &.fashion
          &:hover,&.current
            background: $fashion
        &.sport
          &:hover,&.current
            background: $sport
    .search-form
      float: right
      padding: 0
  .leaderboard
    float: right
  .logo
    float: left
    margin: 0

.block-title
  font-family: "PT Sans Narrow", Arial, Helvetica, Verdana, sans-serif
  font-weight: bold
  text-transform: uppercase
  font-size: 1em
  border-bottom: 1px solid #ccc

.section-title
  @extend .block-title
  +section-parent-foreground-colours

/* top content */
.block.top-content
  ol
    list-style: none
    padding: 3.8% 3.8%
    border: 1px solid #000
    border-top: none
  li
    min-height: 4.5em
    clear: both
    +clearfix
    margin-bottom: 0.75em
    &:last-child
      margin-bottom: 0
  img
    +col(3,12)
    height: auto
  h3
    @extend .block-title
    border: 0
    margin: 0
    +section-foreground-colours
  h4
    margin: 0
  a
    text-decoration: none

.article-detail
  h1
    margin: 0.9em 0
  figure
    position:relative
    figcaption
      bottom: 0

.node
  margin-bottom: 1.5em
  h1
    margin: 0
    a
      text-decoration: none
  .meta
    color: #777
    font-family: $sans-stack
    margin: 0
    font-size: 0.875em
    margin-bottom: 0.71428em
  .comment-count
    white-space: nowrap
  .teaser .star-rating
    height: 1em
    background-size: 100%
    width: 5em
    float: left
    margin-right: 0.5em

.article-large
  @extend .node
  margin: 1.5em 0
  h1
    font-size: 1.75em
    a
      text-decoration: none
  .article-image
    +col(3,12)

.article-small
  @extend .article-large

article.headline
  @extend .article-large
  .article-image
    +col(8,12)
  padding-bottom: 1.5em
  border-bottom: 7px solid #BBBBBB

.article-half
  @extend .node
  +col(6,12)
  .article-image
    margin-bottom: 0.75em
  h1
    font-size: 1.625em
  &.omega
    margin-right: 0

.article-sidebar
  margin-bottom: 0.75em
  h1
    font-size: 1em
    margin: 0
  a
    text-decoration: none
  h2
    @extend .block-title
    border: 0
    margin: 0
    +section-foreground-colours
  .article-image
    +col(3,12)
    float: right
  .teaser
    font-size: 0.875em
    margin: 0
    width: 70%

.block
  margin-bottom: 1.5em

.editors-pick article
  @extend .article-sidebar

.flexslider
  .slides li
    position: relative
  .flex-caption
    background: rgba(50,50,50,0.7)
    position: absolute
    bottom: 0
    color: #fff
    padding: 0 1.125em
    h2
      font-family: "PT Sans Narrow", $sans-stack
      font-weight: normal
      margin: 0.75em 0
    p
      font-size: 0.875em
      margin: 1.125em 0

.homepage-box
  +col(6,12)
  &:nth-child(2n)
    margin-right: 0
  .article-large .article-image
    +col(4,12)
  .block-title
    +section-foreground-colours
    margin-bottom: 1.5em
    a
      text-decoration: none
  ul
    list-style: none
  li
    margin-bottom: 0.75em
    h2
      font-size: 1.125em
      margin: 0.1875em 0
      a
        text-decoration: none
  .article-large h1
    font-size: 1.5em

.article-detail
  figure,img,figcaption
    line-height: 1em
  figure
    position: relative
    margin: auto
    width: auto
    display: table
  figcaption
    position: absolute
    bottom: 0
    left: 0
    right: 0
    background: rgba(0,0,0,0.7)
    color: #fff
    max-width: 100%
    padding: 10px
    font-size: 0.9em
    display: table-cell
  .meta
    +section-background-colours-light
    border-width: 1px
    border-style: none none solid none
    +section-border-colours
    font-size: 0.9em
    padding: 0.375em
    margin: 1.5em 0
    vertical-align: bottom
    font-family: $sans-stack
    color: #444 !important
    p
      margin: 0
    +clearfix
    .pubdate
      float: right
    .author
      float: left
  .bodycopy .pubdate
    color: #aaa
  ul
    list-style: disc
    margin: 0
    padding-bottom: 0.9em
    border-bottom: 1px solid #ccc
  li
    margin-left: 2em
  .bodycopy
    h2
      font-size: 1.2em
      line-height: 1.25em
      margin: 1.25em 0 1.25em 0
    h3
      font-size: 1em
      line-height: 1.5em
      margin: 1.5em 0 1.5em 0
  .morelikethis
    a
      color: #000
      font-weight: bold
      text-decoration: none
      font-family: $sans-stack











.admin-toolbar
  position: fixed
  top: 0
  left: 0
  right: 0
  background: rgba(0,0,0,0.7)
  z-index: 99999999
  color: #fff
  a
    color: #fff
  padding: 0.4em
  .actions
    float: left
  .user
    float: right

//body.admin-toolbar-enabled
  margin-top: 2.5em