{% load thumbnail %}

<section class="homepage-highlights">
    <h1 class='block-title'>Highlights</h1>
    <ul>
    {% for a in object.items|slice:":4" %}
        <li>

            {% with a.get_display_image as main_image %}
            {% thumbnail main_image.image.file "300x225" crop="top" as thumb %}
                <a href="{{ a.get_absolute_url }}"><img src="{{ thumb.url }}" height="{{ thumb.height }}" width="{{ thumb.width }}" alt="{{ a.title }}" /></a>
            {% endthumbnail %}
            {% endwith %}
            <h3><a href="{{ a.get_absolute_url }}">{{ a.title }}</a></h3>
        </li>
    {% endfor %}
    </ul>
</section>