{% load thumbnail %}

<div class="flexslider">
    <ul class="slides">
        {% for item in object.items %}
            {% with item.get_display_image as main_image %}
                {% thumbnail main_image.image.file "600x400" crop="center" as im %}
                <li>
                    <a href="{{ item.get_absolute_url }}">
                        <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}" />
                    <div class="flex-caption">
                        <h2>{{ item.title }}</h2>
                        <p>{{ item.get_teaser|safe|truncatewords_html:30 }}</p>
                    </div>
                    </a>
                </li>
                {% endthumbnail %}
            {% endwith %}
        {% endfor %}
    </ul>
</div>