{% extends 'base.html' %}
{% load layout_helpers article_blocks %}

{% block content %}

<div class="page-layout {{ well.type.slug }} {{ current_section }}-section">
    <div class="main">
        <h1 class="section-title">Comment</h1>
        {% render_iter well.items %}
            <div class="leaders cf">
                <div class="cf">
                {% render_next 'comment_leader' %}
                {% render_next 'comment_leader' %}
                </div>
                <div class="cf">
                {% render_next 'comment_leader' %}
                {% render_next 'comment_leader' %}
                </div>
            </div>
            {% render_remainder 'small' %}
        {% endrender_iter %}
    </div>
    <div class="sidebar">
        {% top_content_block %}
        {% editors_pick current_section %}
    </div>
</div>
{% block endscripts %}
    <script type="text/javascript">
        var disqus_shortname = 'theanglenews';
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    {% endblock %}
{% endblock %}