{% extends 'base.html' %}
{% load article_blocks layout_helpers %}

{% block content %}
    <div class="page-layout default-well">
    <div class="main">
    <h1 class="section-title">{{ section.name }}</h1>
        {% render_iter well.items %}
            {% render_next 'headline' %}
            <div class="cf">
                {% render_next 'half' %}
                {% render_next 'half_omega' %}
            </div>
            {% render_remainder 'small' %}
        {% endrender_iter %}
    </div>
    <div class="sidebar">
        {% top_content_block %}
        {% editors_pick current_section %}
    </div>
    </div>
{% endblock %}