{% extends 'base.html' %}
{% load layout_blocks article_blocks layout_helpers %}

{% block content %}

    <div class="page-layout {{ well.type_id }}">
        <div class="main">
            <h1 class="section-title">Features</h1>
            {% render_iter well.items %}
                <div class="flexslider">
                    <ul class="slides">
                        {% render_next 'flexslide' %}
                        {% render_next 'flexslide' %}
                    </ul>
                </div>
                {% render_remainder 'small' %}
            {% endrender_iter %}
        </div>

        <div class="sidebar">
            {% top_content_block %}
            {% editors_pick current_section %}
            <!--<div class="box-ad block" style="height: 300px; width: 300px; background: #666; margin: auto"></div>-->
        </div>
    </div>
{% endblock %}
