{% extends 'base.html' %}

{% load article_blocks layout_helpers layout_blocks %}

{% block content %}
    <div class="page-layout {{ well.type.slug }}">

        <div class="main">

        {% render_iter well.items %}
            {% render_next 'headline' %}
        {% endrender_iter %}

        <div class="section-blocks cf">
        {% section_block news 'homepage' %}
        {% section_block comment 'homepage' %}
        {% section_block features 'homepage' %}
        {% section_block culture 'homepage' %}
        {% section_block fashion 'homepage' %}
        {% section_block sport 'homepage' %}
        </div>

        {#% article_list_block homepage-highlights 'homepage-highlights' %#}

        </div>

        <div class="sidebar">
            {% top_content_block %}
            <!-- side_box -->
            <div id='div-gpt-ad-1349455451480-0' class="block" style='width:300px; height:300px;'>
                <script type='text/javascript'>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1349455451480-0'); });
                </script>
            </div>
            <!--<div class="box-ad block" style="height: 300px; width: 300px; background: #666; margin: auto"></div>-->
            <div class="twitter block">
                <a class="twitter-timeline" href="https://twitter.com/TheAngleNews" data-widget-id="244104634992566272">Tweets by @TheAngleNews</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <div class="fb-like-box" data-href="http://www.facebook.com/theanglenews" data-show-faces="true" data-stream="true" data-header="true"></div>
            <div class="sponsors block">
                <header>
                <h1 class="block-title">Sponsors</h1>
                </header>
                <!-- sponsor_logo -->
                <div id='div-gpt-ad-1348323403027-0' style='width:180px; height:150px;'>
                    <script type='text/javascript'>
                        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1348323403027-0'); });
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
