{% extends 'base.html' %}
{% load layout_helpers article_blocks %}
{% block content %}

    <div class="page-layout {{ well.type.slug }}">
        <div class="main">
            <h1 class="section-title">News</h1>
            {% render_iter well.items %}
                {% render_next 'headline' %}
                {% render_remainder 'small' %}
            {% endrender_iter %}
        </div>

        <div class="sidebar">
            {% top_content_block %}
            {% editors_pick current_section %}
        </div>

    </div>
{% endblock %}