{% extends 'base.html' %}

{% block content %}

<article>
<h1>Not found</h1>

<p>If you typed this link by hand please check it, making sure you that you have not accidentally entered any capital letters or spaces.</p>

<p>If you clicked a link on this site, please report this to our web team at <a href="webmaster@theanglenews.co.uk">webmaster@theanglenews.co.uk</a>.</p>

<ul>
<li><a href="/">Back to the homepage</a></li>
<li><a href="javascript:history.go(-1)">Back to the page you came from</a></li>
</ul>

</article>
{%endblock%}
