{% extends 'base.html' %}

{% block content %}
<h1>Something went wrong</h1>

<p>If you didn't expect this, please report it to our web team at <a href="mailto: webmaster@theanglenews.co.uk">webmaster@theanglenews.co.uk</a>.</p>
<p>Click <a href="/">to return to the homepage</a></p>

{% endblock %}
