{% load static taxonomy_helpers %}
<!doctype html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#">
    <title>{%if page_title %}{{page_title}} - {%endif%}The Angle - London's independent student newspaper</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/flexslider/flexslider.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/screen.css"/>
    <script type="text/javascript" src="{% get_static_prefix %}js/html5shiv-printshiv.js"></script>
    <script src="{% get_static_prefix %}js/jquery.min.js"></script>
    <script src="{% get_static_prefix %}js/jquery-ui.min.js"></script>
    <script src="{% get_static_prefix %}js/flexslider/jquery.flexslider-min.js"></script>
    <script src="{% get_static_prefix %}js/taol-frontend.js"></script>

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-itouch-icon" href="/apple-touch-icon.png" />

    <script type='text/javascript'>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        (function() {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') +
                    '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        })();

        {% if not debug %}
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28910839-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        {% endif %}
    </script>

    <script type='text/javascript'>
        googletag.cmd.push(function() {
            googletag.defineSlot('/3607321/top_banner', [728, 90], 'div-gpt-ad-1347049453592-0').addService(googletag.pubads());
            googletag.defineSlot('/3607321/sponsor_logo', [180, 150], 'div-gpt-ad-1348323403027-0').addService(googletag.pubads());
            googletag.defineSlot('/3607321/side_box', [300, 300], 'div-gpt-ad-1349455451480-0').addService(googletag.pubads());
            googletag.defineSlot('/3607321/article_skyscraper', [120, 600], 'div-gpt-ad-1353672843869-0').addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        });
    </script>

    {% if debug %}
    <link href="{% get_static_prefix %}headsupgrid/hugrid.css" type="text/css" rel="stylesheet" />
    <script src="{% get_static_prefix %}headsupgrid/hugrid.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            pageUnits = 'px';
            colUnits = '%';
            pagewidth = 1140;
            columns = 12;
            columnwidth = 4.85;
            gutterwidth = 3.8;
            pagetopmargin = 180;
            rowheight = 24;
            gridonload = 'off';
            makehugrid();
            setgridonload();
        });
    </script>
    {% endif %}

    {% block head %}
    {% endblock %}
</head>
<body{% if current_section %} class="{{ current_section }}-section"{% endif %}>
<div id="fb-root"></div>
<script>(function(doc, script) {
    var js,
            fjs = doc.getElementsByTagName(script)[0],
            frag = doc.createDocumentFragment(),
            add = function(url, id) {
                if (doc.getElementById(id)) {return;}
                js = doc.createElement(script);
                js.src = url;
                id && (js.id = id);
                frag.appendChild( js );
            };

    add('http://apis.google.com/js/plusone.js');
    add('//connect.facebook.net/en_GB/all.js#xfbml=1&appId=130973980331487', 'facebook-jssdk');
    add('//platform.twitter.com/widgets.js');
    fjs.parentNode.insertBefore(frag, fjs);
}(document, 'script'));</script>
{% if false %}
<div class="admin-toolbar" id="admin_toolbar">
    <nav class="actions">
        <ul>
            <li><a href="{% url admin:index %}">Go to backend</a></li>
            {% block admin_toolbar_actions %}
            {% endblock %}
        </ul>
    </nav>
    <div class="user">Welcome {{ user }} &middot; <a href="{% url logout %}">Logout</a></div>
</div>
{% endif %}
<div id="page">

<header class="masthead">
    <div class="toplinks cf">
        <nav class="secondary">
            <ul>
                <li><a href="/pages/about.html">About</a></li>
                <li><a href="/pages/advertising.html">Advertising</a></li>
                <li><a href="/pages/contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="social-links">
            <a href="https://twitter.com/TheAngleNews" class="twitter-follow-button" data-show-count="true">Follow @TheAngleNews</a>
            <div class="fb-like" data-href="http://www.facebook.com/theanglenews" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
        </div>
    </div>
    <h1 class="logo">
        <a href="/">
            <img src="{% get_static_prefix %}images/logo.png" alt="The Angle" />
        </a>
    </h1>
    <div class="leaderboard">

        <!-- top_banner -->
        <div id='div-gpt-ad-1347049453592-0' style='width:728px; height:90px; background: #aaa;'>
            <script type='text/javascript'>
                googletag.cmd.push(function() { googletag.display('div-gpt-ad-1347049453592-0'); });
            </script>
        </div>
    </div>

    <nav class="primary">
    <ul>
        <li>{% section_menu_link news %}</li>
        <li>{% section_menu_link comment %}</li>
        <li>{% section_menu_link features%}</li>
        <li>{% section_menu_link culture %}</li>
        <li>{% section_menu_link fashion %}</li>
        <li>{% section_menu_link sport %}</li>
    </ul>

    <div class="search-form">
    <form id="search_form" action="{% url haystack_search %}"><label for="search_box">Search: </label> <input type="search" id="search_box" name="q"/>
    <input type="image" src="{% get_static_prefix %}images/search.png" alt="search"/> </form></div>
</nav>
</header>
{% block content %}{% endblock %}
</div>
{% block endscripts %}
{% endblock %}

{% if not debug %}
<script type="text/javascript">


var disqus_shortname = 'theanglenews'; // required: replace example with your forum shortname
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());

</script>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100530551); }catch(e){}</script>
{% endif %}
</body>
</html>

